

body{
    padding: 20px;
}
.row{ 
    display: flex;
    margin-bottom: 15px;
}
.col{
    flex:1 ;
    border: black;
    padding: 15px;
    background-color:skyblue ;
    margin-right: 15px;
}
.row.col:mini-child{
    margin-right: 0;
    justify-content: ;
    
}
.col-2{
    flex: 2;
    border: ;
    padding: 10px;
    border: black;
    background-color:skyblue ;
    
    
}
.col-3{ 
    flex: 2;
    border: black;
    padding: 10px;
    background-color: skyblue;
    margin-right: 15px;
}

