*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     background-color:#f3f3f3 ;
}
.top{
    background-color: #333333;
}
.navbar{
    width: 1000px;
    margin: 0  auto;
    color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #333333;
}
.link{
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    background-color: #333333;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
}
.title{
    margin-left: 22px;
    background-color: #333333;
}
.btn{
    width: 100px;
    height:30px ;
    color: #ffffff;
    background-color: #17a2b8;
    font-size: 15px;
    border: none;
    box-shadow: 5px 5px black;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.main{
    display: flex;
}
.leftcol, .rightcol {
    margin: 15px;
    padding: 15px;
    flex: 1;
}
.leftcol{
    flex: 2;
}


.user-card, .card {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 1.3rem;
}
.topcard {
    background-color: #17a2b8;
    height: 120px;
    margin-bottom: 60px;
}
.card-body{
    padding: 25px;

}
.jane{
    border-radius: 50%;
    background-color: #fff;
    height: 150px;
    padding: 5px;
    margin-top: 20px;
    margin-left:20px ;
}
.icon{
    height: 20px;
}
a{
    color:#3a81e6;
}
.header{
    background-color: #333333;
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;

}
.pic{ 
    border-radius: 50%;
    height: 50px;
    margin-right: 12px;
}
.users{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.userstop, .usersbot{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.date{
    font-size: 20px;
    color: #777;
}
.footer{
    padding: 20px;
    border-top: 2px solid #999;
}
.connection{
    background-color: #eee;
    color: #333;
    font-size: 20px;
    border-radius: 14px;
    height: 25px;
    padding: 0 10px;
    margin-right: 10px;
}